@if(visible()) {
<div class="modal-backdrop">
    <div class="settings-panel">
        <h2>Settings</h2>
        
        <label for="inputApiKey"
            title="You'll need a Steam Community developer API key. You can find one at steamcommunity.com/dev/apikey or clicking the '?' button."
        >
            Steam API Key 
            <button class="btn-help" (click)="onApiHelpClicked()" title="You'll need a Steam Community developer API key. You can find one at https://steamcommunity.com/dev/apikey.">?</button>
            <input name="inputApiKey" [(ngModel)]="this.apiKey"/>
        </label>
        <label for="inputAccountId"
            title="The account to get games from. This is a 17-digit number found in Steam > [username] > Account Details at store.steampowered.com/account."
        >
            User Account ID
            <button class="btn-help" (click)="onAccountHelpClicked()" title="The account to get games from. This is a 17-digit number found in Steam > [username] > Account Details at https://store.steampowered.com/account.">?</button>
            <input name="inputAccountId" [(ngModel)]="this.accountId"/>
        </label>

        <div class="button-container">
            <button (click)="onClosePressed()">Close</button>
            <button (click)="onClearPressed()">Clear Settings</button>
            <button (click)="onApplyPressed()">Apply</button>
        </div>
    </div>
</div>
}
