
header {
    position: fixed;
    top: 0%;
    width: 100vw;

    color: white;
    

    z-index: 10;
}

.title-container {
    width: 100%;
    background-color: #151515;
}

.title-container > h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 16px;
}

.search-container {
    display: flex;
    align-items: center;
    background-color: #3a8ba0;
    padding: 16px 64px;
}

.search-bar {
    flex: 1;
    /* margin-right: 8px; */
    /* height: 40px; */

    font-size: 20px;
    padding: 4px;
}


.btn-search-option {
    width: 120px;
    height: 40px;
    background-color: white;
    margin-left: 8px;

    font-size: 16px;
    padding: 4px;
}

.btn-search-option.toggled {
    background-color: aqua;
}

.game-list {
    max-width: 1200px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 52px;
}