
header {
    position: fixed;
    top: 0%;
    width: 100vw;

    color: white;
    

    z-index: 10;
}



.centered-div {
    max-width: fit-content;
    margin-inline: auto;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;
}

.error-container {
    color: indianred;
}



.search-container {
    position: fixed;
    top: 70px;
    width: calc(100% - 128px);

    display: flex;
    align-items: center;
    background-color: #3a8ba0;
    padding: 16px 64px;

    z-index: 3;
}

.search-bar {
    flex: 1;
    /* margin-right: 8px; */
    /* height: 40px; */

    font-size: 20px;
    padding: 6px;
    padding-left: 12px;
    background-color: #0005;

    color: white;
}

.search-bar:focus {
    background-color: #0002;
}


.btn-search-option {
    width: 120px;
    height: 40px;
    background-color: #0005;
    margin-left: 8px;

    font-size: 16px;
    padding: 4px;
}

.btn-search-option.toggled {
    background-color: #FFF3;
    scale: 1.02;
}

.game-list {
    max-width: 1100px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 52px;
    column-gap: 32px;
}

@media (min-width: 901px) and (max-width: 1200px) {
    .game-list {
        max-width: 1100px;
        width: 90%;

        grid-template-columns: repeat(2,1fr);
        gap: 32px;
    }
}

@media (max-width: 900px) {
    .game-list {
        max-width: 700px;
        width: 90%;

        grid-template-columns: repeat(1,1fr);
        gap: 32px;
    }
}
/* 
@media (max-width: 900px) {
    .game-list {
        max-width: 800px;
        

        grid-template-columns: repeat(1,1fr);
        gap: 32px;
    }
} */